In [44]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\elumi\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\elumi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\elumi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\elumi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\elumi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [45]:
driver = webdriver.Chrome(r"D:\heena\DataTrained\Internship Files\Applications\chromedriver_win32")
driver

In [77]:
driver.get("https://www.naukri.com/")

In [78]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [83]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00A7DCE3+50899]
	(No symbol) [0x00A0E111]
	(No symbol) [0x00915588]
	(No symbol) [0x008FD333]
	(No symbol) [0x0095F4DB]
	(No symbol) [0x0096DB33]
	(No symbol) [0x0095B6F6]
	(No symbol) [0x00937708]
	(No symbol) [0x0093886D]
	GetHandleVerifier [0x00CE3EAE+2566302]
	GetHandleVerifier [0x00D192B1+2784417]
	GetHandleVerifier [0x00D1327C+2759788]
	GetHandleVerifier [0x00B15740+672048]
	(No symbol) [0x00A18872]
	(No symbol) [0x00A141C8]
	(No symbol) [0x00A142AB]
	(No symbol) [0x00A071B7]
	BaseThreadInitThunk [0x75987D69+25]
	RtlInitializeExceptionChain [0x7759B74B+107]
	RtlClearBits [0x7759B6CF+191]

In [65]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [66]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [67]:
##Scraping job title from given page

In [68]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [69]:
##Scraping job location from given page

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [70]:
##Scraping company_name from given page


company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [71]:
##Scraping experience_required from given page


experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [72]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [73]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Comapny':company_name,'Experience':experience_required})
df

Empty DataFrame
Columns: [Title, Location, Comapny, Experience]
Index: []

In [74]:
import pandas as pd

In [75]:
df = pd.DataFrame({'Title':job_title, 'Location': job_location, 'Compay Name':company_name, 'Experience':experience_required})
df

Empty DataFrame
Columns: [Title, Location, Compay Name, Experience]
Index: []

# Q.2 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [130]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\elumi\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\elumi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\elumi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\elumi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\elumi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\elumi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\elumi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [93]:
driver = webdriver.Chrome(r"D:\heena\DataTrained\Internship Files\Applications\chromedriver_win32")
driver

In [94]:
driver.get("https://www.naukri.com/")

In [95]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [96]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [97]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [98]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [99]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [102]:
##Scraping job location from given page

location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [103]:
##Scraping company_name from given page


company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [104]:
##Scraping experience_required from given page


experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [105]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [106]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Comapny':company_name,'Experience':experience_required})
df

,Title,Location,Comapny,Experience
0,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs
1,"Manager, Data Solution Specialist","Bangalore/Bengaluru, Mumbai, New Delhi",Pfizer,3-5 Yrs
2,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
4,Permanent Opportunity For Data scientist with AWS,"Hybrid - Bangalore/Bengaluru, Chennai, Coimbat...",Deloitte,3-8 Yrs
5,Artificial Intelligence Senior Analyst-Intelli...,Bangalore/Bengaluru,Accenture,5-8 Yrs
6,Data Science Senior Analyst,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Research Scientist,Bangalore/Bengaluru,Siemens,2-5 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,3-8 Yrs
9,R&D Specialist,Bangalore/Bengaluru,Nokia,5-6 Yrs

# Q. 3 You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [209]:
driver = webdriver.Chrome(r"D:\heena\DataTrained\Internship Files\Applications\chromedriver_win32")
driver

In [115]:
driver.get("https://www.naukri.com/")

In [116]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [117]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [118]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [119]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [120]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [121]:
##Scraping job location from given page

location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [122]:
##Scraping company_name from given page


company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [123]:
##Scraping experience_required from given page


experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [124]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [125]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Comapny':company_name,'Experience':experience_required})
df

,Title,Location,Comapny,Experience
0,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,3-5 Yrs
1,Data Scientist,Bangalore/Bengaluru,Infosys,3-8 Yrs
2,Data Science Analyst,Mumbai,Accenture,3-5 Yrs
3,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software,3-6 Yrs
4,Data Science Analyst,Bangalore/Bengaluru,Accenture,3-5 Yrs
5,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
7,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs
8,"Principal, Data Scientist",Bangalore/Bengaluru,AT&T,5-8 Yrs
9,Software Engineer Staff,Bangalore/Bengaluru,Juniper Networks,3-8 Yrs

# Q.4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. ProductDescription 3. PriceTo scrape the data you have to go through following steps: 1. Go to Flipkart webpage by url :https://www.flipkart.com/ 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written andclick the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap therequired data asusual.

In [139]:
url="https://www.flipkart.com/"
driver.get(url)

In [140]:
designation = driver.find_element(By.CLASS_NAME, "_3704LK")
designation.send_keys('sunglasses')

In [143]:
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [157]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [174]:
for i in range(3):
    b_name= driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    p_desc= driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    price =driver.find_elements (By.XPATH, '//div[@class="_25b18c"]')
    discount=driver.find_elements (By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [168]:
B_name[:100]

['VINCENT CHASE',
 'Yiweto',
 'PIRASO',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'SUNBEE',
 'Resist',
 'LIZA ANGEL',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'SRPM',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'AISLIN',
 'GANSTA',
 'PIRASO',
 'ROZZETTA CRAFT',
 'MagJons',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'iCopertina',
 'Rich Club',
 'Silver Kartz',
 'Yiweto',
 'SUNBEE',
 'like future',
 'SUNBEE',
 'Yiweto',
 'VINCENT CHASE',
 'Yiweto',
 'PIRASO',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'SUNBEE',
 'Resist',
 'LIZA ANGEL',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'SRPM',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'AISLIN',
 'GANSTA',
 'PIRASO',
 'ROZZETTA CRAFT',
 'MagJons',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'iCopertina',
 'Rich Club',
 'Silver Kartz',
 'Yiweto',
 'SUNBEE',
 'like future',
 'SUNBEE',
 'Yiweto',
 'VINCENT CHASE',
 'Yiweto',
 'PIRASO',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'SUNBEE',
 'Resist',
 'LIZA ANGEL',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'SRPM',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'AISLIN']

In [172]:
 P_desc[:100]

['by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection, Riding Glasses Round, Sports Sunglasses ...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Retro Square Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Round Sungl...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Over-sized ...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection, Riding Glasses Round, Sports Sunglasses ...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Retro Square Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Round Sungl...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Over-sized ...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection, Riding Glasses Round, Sports Sunglasses ...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...']

In [175]:
 Price[:100]

['₹1,049₹1,99947% off',
 '₹299₹99970% off',
 '₹268₹1,59983% off',
 '₹299₹1,59981% off',
 '₹195₹1,69988% off',
 '₹174₹1,99991% off',
 '₹293₹1,29977% off',
 '₹1,399₹3,99965% off',
 '₹224₹99977% off',
 '₹274₹2,59989% off',
 '₹211₹1,59986% off',
 '₹879₹1,99956% off',
 '₹149₹1,29988% off',
 '₹129₹94586% off',
 '₹149₹1,29988% off',
 '₹889₹1,99955% off',
 '₹579₹99942% off',
 '₹342₹2,59986% off',
 '₹125₹75083% off',
 '₹495₹1,52567% off',
 '₹292₹1,99985% off',
 '₹214₹1,59986% off',
 '₹499₹1,99975% off',
 '₹232₹99976% off',
 '₹212₹1,59986% off',
 '₹214₹1,59986% off',
 '₹629₹1,99968% off',
 '₹699₹1,99965% off',
 '₹307₹1,99984% off',
 '₹647₹99935% off',
 '₹649₹1,09940% off',
 '₹929₹1,99953% off',
 '₹214₹99978% off',
 '₹479₹1,29963% off',
 '₹267₹1,49982% off',
 '₹249₹49950% off',
 '₹259₹1,29980% off',
 '₹190₹99980% off',
 '₹195₹99980% off',
 '₹299₹79962% off',
 '₹67938% off',
 '₹22477% off',
 '₹26883% off',
 '₹64735% off',
 '₹1,39965% off',
 '₹1,049₹1,99947% off',
 '₹299₹99970% off',
 '₹268₹1,59983% off',
 '₹299₹1,59981% off',
 '₹195₹1,69988% off',
 '₹174₹1,99991% off',
 '₹293₹1,29977% off',
 '₹1,399₹3,99965% off',
 '₹224₹99977% off',
 '₹274₹2,59989% off',
 '₹211₹1,59986% off',
 '₹879₹1,99956% off',
 '₹149₹1,29988% off',
 '₹129₹94586% off',
 '₹149₹1,29988% off',
 '₹889₹1,99955% off',
 '₹579₹99942% off',
 '₹342₹2,59986% off',
 '₹125₹75083% off',
 '₹495₹1,52567% off',
 '₹292₹1,99985% off',
 '₹214₹1,59986% off',
 '₹499₹1,99975% off',
 '₹232₹99976% off',
 '₹212₹1,59986% off',
 '₹214₹1,59986% off',
 '₹629₹1,99968% off',
 '₹699₹1,99965% off',
 '₹307₹1,99984% off',
 '₹647₹99935% off',
 '₹649₹1,09940% off',
 '₹929₹1,99953% off',
 '₹214₹99978% off',
 '₹479₹1,29963% off',
 '₹267₹1,49982% off',
 '₹249₹49950% off',
 '₹259₹1,29980% off',
 '₹190₹99980% off',
 '₹195₹99980% off',
 '₹299₹79962% off',
 '₹67938% off',
 '₹22477% off',
 '₹26883% off',
 '₹64735% off',
 '₹1,39965% off',
 '₹1,049₹1,99947% off',
 '₹299₹99970% off',
 '₹268₹1,59983% off',
 '₹299₹1,59981% off',
 '₹195₹1,69988% off',
 '₹174₹1,99991% off',
 '₹293₹1,29977% off',
 '₹1,399₹3,99965% off',
 '₹224₹99977% off',
 '₹274₹2,59989% off']

In [176]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [177]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [178]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,"₹1,049₹1,99947% off","by Lenskart Polarized, UV Protection Retro Squ...",47% off
1,Yiweto,₹299₹99970% off,"UV Protection, Riding Glasses Round, Sports Su...",70% off
2,PIRASO,"₹268₹1,59983% off",UV Protection Aviator Sunglasses (Free Size),83% off
3,PIRASO,"₹299₹1,59981% off",UV Protection Clubmaster Sunglasses (54),81% off
4,Shaah Collection,"₹195₹1,69988% off","UV Protection, Polarized, Mirrored Rectangular...",88% off
...,...,...,...,...
95,VINCENT CHASE,"₹174₹1,99991% off","Polarized, UV Protection Round Sunglasses (50)",55% off
96,Fastrack,"₹293₹1,29977% off",UV Protection Aviator Sunglasses (Free Size),42% off
97,PIRASO,"₹1,399₹3,99965% off",UV Protection Over-sized Sunglasses (65),86% off
98,NuVew,₹224₹99977% off,UV Protection Aviator Sunglasses (57),83% off
99,AISLIN,"₹274₹2,59989% off","UV Protection, Gradient Butterfly, Retro Squar...",67% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART As shown in the above page you have to scrape the tick marked attributes. These are: 1. Rating 2. Review summary 3. Full review 4. You have to scrape this data for first 100reviews. Note: All the steps required during scraping should be done through code only and not manually.

In [188]:
url= "https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd"
driver.get(url)

In [192]:
Rating=[]
Review_summary=[]
Full_review=[]

In [193]:
for i in range(3):
    Rating= driver.find_elements(By.XPATH, '//div[@class="_3LWZlK"]')
    Review_summary= driver.find_elements(By.XPATH, '//p[@class="_2-N8zTa"]')
  
    
    for j in Rating:
        Rating.append(j.text)
    Rating[:100]

AttributeError: 'str' object has no attribute 'text'

In [198]:
Rat = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK"]')
for i in Rat[:100]:
    Rat= i.text
    Rating.append(Rat)

In [199]:
Rat

'4.3'

In [203]:
Rev = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in Rev[:100]:
    Rev= i.text
    Review_summary.append(Rev)

In [204]:
Rev

''

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 3 attributes of each sneaker: 1. Brand 2. ProductDescription 3. Price As shown in the below image, you have to scrape the above attributes.

In [210]:
url="https://www.flipkart.com/"
driver.get(url)

In [211]:
designation = driver.find_element(By.CLASS_NAME, "_3704LK")
designation.send_keys('sneakers')

In [212]:
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [213]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [215]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [216]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [219]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [220]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,HOTSTYLE,"₹499₹1,99875% off",Combo Pack Of 2 Sneakers For Men,75% off
1,RapidBox,₹579₹99942% off,Sneakers For Men,42% off
2,BIRDE,₹499₹99950% off,Combo Pack Of 2 Casual Shoes Sneakers For Men,50% off
3,BIRDE,"₹499₹1,49866% off",Combo Pack of 2 Sports Sneakers For Men,66% off
4,aadi,"₹299₹1,99985% off",Synthetic| Lightweight| Premiun| Comfort| Summ...,85% off
...,...,...,...,...
95,Shozie,₹445₹99955% off,Sneakers For Men,55% off
96,BRUTON,"₹469₹2,49981% off",SM-747 Sneakers For Men,81% off
97,MOZAFIA,₹899₹99910% off,Latest Exclusive Affordable Collection of Tren...,10% off
98,BIRDE,₹499₹99950% off,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,50% off
99,BRUTON,"₹239₹1,29981% off",Exclusive Affordable Collection of Trendy & St...,81% off

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. Title 2. Ratings 3. Price

In [233]:
url=" https://www.amazon.in "
driver.get(url)

In [234]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g

In [235]:
# write on search bar
search_g.send_keys('Laptop')

In [236]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn

In [237]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [247]:
Title=[]
Price=[]
Rating=[]

In [250]:
for i in range(3):
    title=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
    rating=driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']")
    price =driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
    
    
    for j  in title:
        Title.append(j.text)
    Title[:100]    
    
    
    
    for k in rating:
        Rating.append(k.text)
    Rating[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [251]:
print(len(Title[:100])),print(len(Price[:100])),print(len(Rating[:100]))

69
100
36

(None, None, None)